:root {
  --boxColor: darkgreen;
  --ballColor: crimson;
  --floorColor: grey;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.scene {
  position: relative;
}

.ball {
  background-color: var(--ballColor);
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.cube {
  background-color: var(--boxColor);
  width: 3em;
  height: 3em;
}

.floor {
  background-color: var(--floorColor);
  width: 500px;
  height: 500px;
}
